color-panel {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	transition: flex 0.2s ease-in-out, transform 0.4s ease-in-out;

	color: #ffffff88;
	--hover-color: #ffffff33;

	span {
		font-size: 2rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
		transition: opacity 0.2s ease-in-out;

		&:focus {
			background-color: var(--hover-color);
		}

		&#color,
		&#name {
			font-weight: bold;
			font-family: consolas;
			outline: none;

			&::selection {
				background-color: var(--hover-color);
			}

			&.invalid {
				text-decoration: line-through;
			}
		}

		&#name {
			text-wrap: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			text-align: center;

			&:focus {
				overflow: visible;
				text-overflow: none;

				& + #color {
					display: none;
				}
			}
		}

		&.add {
			position: absolute;
			z-index: 1;

			// &:not(:hover) {
			// 	opacity: 0;
			// }

			&#add-left {
				left: 0;
				transform: translate(-50%, 0);
			}

			&#add-right {
				right: 0;
				transform: translate(50%, 0);
			}
		}
	}

	&.dark {
		color: #00000088;
		--hover-color: #00000033;
	}

	&:hover,
	&.removed {
		flex: 1.5;
		z-index: 1;
	}

	&:not(:hover) {
		user-select: none;

		span {
			opacity: 0;
		}
	}

	&.moving {
		transition: none;
	}

	&.slide {
		transition: none;
		pointer-events: none;
	}

	&.removed {
		@keyframes removed-landscape {
			to {
				max-width: 0;
			}
		}

		transition: none;
		animation: removed-landscape 0.4s ease-in-out forwards;
		z-index: -1;
	}
}

body:not(.edit) color-panel {
	.add,
	#close,
	#move {
		display: none;
	}

	// Prevent text edition
	#color {
		pointer-events: none;
	}
}

body.edit color-panel {
	#name {
		display: none;
	}
}

// Portrait mode
@media screen and (orientation: portrait) {
	main {
		flex-direction: column;

		color-panel {
			flex-direction: row;

			span.add {
				&#add-left {
					top: 0;
					transform: translate(calc(50vw - 50%), -50%);
				}

				&#add-right {
					bottom: 0;
					transform: translate(calc(50% - 50vw), 50%);
				}
			}

			&.removed {
				@keyframes removed-portrait {
					to {
						max-height: 0;
					}
				}

				animation: removed-portrait 0.4s ease-in-out forwards;
			}
		}
	}
}

// Landscape mode
@media screen and (orientation: landscape) {
	color-panel {
		span#move {
			transform: rotate(90deg);
		}

		#name {
			text-wrap: wrap !important;
			max-width: 100% !important;
			font-size: 1.5rem;
		}
	}
}

// Desktop
@media screen and (min-width: 450px) {
	color-panel span:hover {
		background-color: var(--hover-color);
	}
}

// Mobile
@media screen and (max-width: 450px) {
	color-panel {
		#name,
		#color {
			font-size: 1.5rem;
		}

		// #name {
		// 	text-wrap: wrap !important;
		// 	max-width: 100% !important;
		// }
	}
}
