// Remove browser prefixes
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

// Global styles
html {
	// Default styles
	background-color: #121212;
	color: white;
	font-family: 'Roboto';
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	overflow: auto;
}

main {
	height: fit-content;
	min-height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
}

.icon {
	font-family: 'Material Icons';
}

// Landscape mode
@media screen and (orientation: landscape) {
	main {
		width: fit-content;
		min-width: 100%;
		height: 100%;
	}
}
