color-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	transition: flex 0.2s ease-in-out;

	color: white;
	--hover-color: #ffffff33;

	span {
		font-size: 2rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
		transition: opacity 0.2s ease-in-out;

		&:hover {
			background-color: var(--hover-color);
		}

		&#color {
			font-size: 2rem;
			font-weight: bold;
			font-family: consolas;
			outline: none;

			&::selection {
				background-color: var(--hover-color);
			}

			&.invalid {
				text-decoration: line-through;
			}
		}
	}

	&.dark {
		color: black;
		--hover-color: #00000033;
	}

	&:hover {
		flex: 1.5;
	}

	&:not(:hover) {
		span {
			opacity: 0;
		}
	}
}

// Portrait mode
@media screen and (orientation: portrait) {
	body {
		flex-direction: column;

		color-panel {
			flex-direction: row-reverse;
		}
	}
}
