color-panel {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	transition: flex 0.2s ease-in-out;

	color: white;
	--hover-color: #ffffff33;

	span {
		font-size: 2rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
		transition: opacity 0.2s ease-in-out;

		&:hover {
			background-color: var(--hover-color);
		}

		&#color {
			font-size: 2rem;
			font-weight: bold;
			font-family: consolas;
			outline: none;

			&::selection {
				background-color: var(--hover-color);
			}

			&.invalid {
				text-decoration: line-through;
			}
		}

		&.add {
			position: absolute;
			z-index: 1;

			&:not(:hover) {
				opacity: 0;
			}

			&#add-left {
				left: 0;
				transform: translate(-50%, 0);
			}

			&#add-right {
				right: 0;
				transform: translate(50%, 0);
			}
		}
	}

	&.dark {
		color: black;
		--hover-color: #00000033;
	}

	&:hover {
		flex: 1.5;
	}

	&:not(:hover) {
		span {
			opacity: 0;
			pointer-events: none;
		}
	}
}

// Portrait mode
@media screen and (orientation: portrait) {
	main {
		flex-direction: column;

		color-panel {
			flex-direction: row-reverse;

			span.add {
				&#add-left {
					top: 0;
					transform: translate(calc(50vw - 50%), -50%);
				}

				&#add-right {
					bottom: 0;
					transform: translate(calc(50% - 50vw), 50%);
				}
			}
		}
	}
}

// Landscape mode
@media screen and (orientation: landscape) {
	color-panel span#move {
		transform: rotate(90deg);
	}
}
